<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539104168258-1f70bvq2qsc9sqd9iem6bk66bjmrfs7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539104168258-1f70bvq2qsc9sqd9iem6bk66bjmrfs7s</string>
	<key>API_KEY</key>
	<string>AIzaSyDkUHrW2R3jhYn_HEhfEdk-doxkqkhIW4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>539104168258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medic</string>
	<key>PROJECT_ID</key>
	<string>medical-9d533</string>
	<key>STORAGE_BUCKET</key>
	<string>medical-9d533.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539104168258:ios:e8df5f69f8dc9fc2aea0db</string>
</dict>
</plist>